body {
  background-color: #FBFBFB;
  font-family: 'Inter', sans-serif;
  color: #292B3D;
  margin: 0;
}
h1, h2, h3 {
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 20px;
}
p {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 35px;
  color: #3D405B;
}
a {
  color: #292B3D;
}
.hero-card img {
  border-radius: 50%;
  max-width: 140px;
}
.container {
  margin: 0 auto;
  max-width: 900px;
}
.card {
  display: block;
  box-shadow: 3px 13px 30px 0px rgba(21, 34, 67, 0.1);
  border-radius: 10px;
  background-color: white;
  padding: 20px 50px;
  margin: 30px 20px;
}
.hero-card {
  text-align: center;
}
.icons {
  margin: auto;
  display: flex;
  justify-content: space-around;
  max-width: 100px;
}
.fab {
  padding: 10px;
}
.icons i {
  font-size: 30px;
  color: #3D405B;
}
.icons i:hover {
  color: black;
}
table, th, td {
  border: 3px solid lightgrey;
  border-collapse: collapse;
  border-radius: 5px;
  padding: 5px;
  font-family: 'Courier';
  font-size: 18px;
}
table {
  margin-bottom: 20px;
}
.podcasts a {
  text-decoration: none;
  margin-bottom: 50px;
}
.podcasts p {
  font-size: 18px;
}
.podcasts p:hover, a:hover {
  color: #626793;
}
